.page{
  width: 100%;
  height: 100vh;
  background-color: red;

  display: flex;
  flex-direction: row;
  

}

.loginPage{
    width: fit-content;
    height: 100%;
    background-color: yellowgreen;
}  
.loginButton {
  width: fit-content;
  background-color: red;
  cursor: pointer;
}